.imagen1{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen2{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen3{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen4{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen5{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen6{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen7{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen8{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen9{width: 400px; height: 300px; border: 8px solid; color: white;}
.imagen10{width: 400px; height:300px; border: 8px solid; color: white;}
.imagen11{width: 400px; height:300px; border: 8px solid; color: white;}
.imagen12{width: 400px; height:300px; border: 8px solid; color: white;}